@mixin splitLayout($isShowWidth: true) {
  @if $isShowWidth {
    min-width: 1rem !important;
  }

  min-height: 1rem !important;
}

.splitpanes {
  width: 100%;
  height: 100%;

  &--vertical > &__splitter {
    @include splitLayout;
  }

  @at-root {
    &.default-theme &__pane {
      background-color: transparent;
    }

    &.default-theme &__splitter {
      background-color: transparent;
      border: none;

      &::after,
      &::before {
        background-color: var(--color-text-3);
        transition: background-color 0.2s ease;
      }

      &:hover {
        &::after,
        &::before {
          background-color: var(--color-text-1);
        }
      }
    }

    &--horizontal > &__splitter {
      @include splitLayout(false);
    }
  }
}

.Í¼1.cm-focused {
  outline: none;
}
