:root {
  // text
  --text-color: #303133;
  // background
  --bg-color: #ffffff;
  --bg-color-2: #f5f5f5;
  // text color
  --color-text-1: #141414;
  --color-text-2: #5c5c5c;
  --color-text-3: #909399;
  --color-white: #fff;
  // boxs
  --box-color-1: rgb(229, 230, 235);
}

:root.dark {
  --text-color: #e5eaf3;

  --bg-color: #141414;
  --bg-color-2: #181818;
  // text color dark
  --color-text-1: rgba(255, 255, 255, 0.9);
  --color-text-2: rgba(255, 255, 255, 0.7);
  --color-text-3: rgba(255, 255, 255, 0.5);

  --box-color-1: rgb(72, 72, 73);
}

html {
  color: var(--text-color);
}

body {
  background-color: var(--bg-color);
}
